In [10]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import requests
import json  
import codecs
import pandas as pd
import os
import shutil
from datetime import datetime, timedelta, date
from selenium.webdriver.firefox.firefox_profile import FirefoxProfile
from selenium.webdriver.firefox.options import Options
from os import remove
import git
import datetime
import numpy as np

def verificarColumnas(data, referencia):
    ruta = "GrupoControl/"
    df = data
    ref = pd.read_csv(ruta + referencia)
    existe = False
    columna = 0    
    #Eliminar Columnas que sobran    
    for col in df.columns:        
        for colRef in ref.columns:
            if col == colRef:
                #print("existe la columna" + col)
                existe = True
        if existe == False:
            del df[col]
            #df.to_csv(csvPorVerificar, index = False)
            print("se Eliminó la columna " + col)
        existe = False   
    #Agregar columnas faltantes    
    for colRef in ref.columns:        
        for col in df.columns:
            if col == colRef:
                #print("existe la columna" + col)
                existe = True
        if existe == False:
            df.insert(columna,colRef,'')
            #df.to_csv(csvPorVerificar, index = False)
            print("se agregó la columna " + colRef)
        columna+=1
        existe = False
    return df

In [12]:

now = datetime.datetime.now()
url= "https://opendata.ecdc.europa.eu/covid19/casedistribution/csv/"
data = pd.read_csv(url)
data.to_csv("ecdc.europa/Current_Coronavirus_Cases_and_Deaths.csv", index=False)
data.to_csv("ecdc.europa/ecCurrent_Coronavirus_Cases_and_Deaths." + now.strftime("%d-%m-%Y_%H-%M-%S") + "csv", index=False)

ola = verificarColumnas(data,"Current_Coronavirus_Cases_and_Deaths.csv")
ola

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
0,07/04/2020,7,4,2020,38,0,Afghanistan,AF,AFG,37172386.0
1,06/04/2020,6,4,2020,29,2,Afghanistan,AF,AFG,37172386.0
2,05/04/2020,5,4,2020,35,1,Afghanistan,AF,AFG,37172386.0
3,04/04/2020,4,4,2020,0,0,Afghanistan,AF,AFG,37172386.0
4,03/04/2020,3,4,2020,43,0,Afghanistan,AF,AFG,37172386.0
...,...,...,...,...,...,...,...,...,...,...
9305,25/03/2020,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0
9306,24/03/2020,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14439018.0
9307,23/03/2020,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0
9308,22/03/2020,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0
9309,21/03/2020,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0

In [9]:
data

,ID,Fecha,Region_Numero,País,Region,Sexo,Edad,Centro_de_Salud,Comuna,lat,lon,Tipo_de_caso,lat_comuna,lon_comuna
0,1,23-03-2020,1.0,Chile,Tarapacá,Masculino,47.0,NaN,Iquique,NaN,NaN,Confirmado,NaN,NaN
1,2,23-03-2020,1.0,Chile,Tarapacá,Masculino,31.0,NaN,Iquique,NaN,NaN,Confirmado,NaN,NaN
2,3,23-03-2020,1.0,Chile,Tarapacá,Femenino,55.0,NaN,Iquique,NaN,NaN,Confirmado,NaN,NaN
3,4,23-03-2020,1.0,Chile,Tarapacá,Masculino,66.0,NaN,Iquique,NaN,NaN,Confirmado,NaN,NaN
4,5,25-03-2020,1.0,Chile,Tarapacá,Masculino,36.0,NaN,Iquique,NaN,NaN,Confirmado,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,5568,06-04-2020,NaN,Chile,No Informado,NaN,NaN,NaN,No Informado,NaN,NaN,Recuperado,NaN,NaN
5568,5569,06-04-2020,NaN,Chile,No Informado,NaN,NaN,NaN,No Informado,NaN,NaN,Recuperado,NaN,NaN
5569,5570,06-04-2020,NaN,Chile,No Informado,NaN,NaN,NaN,No Informado,NaN,NaN,Recuperado,NaN,NaN
5570,5571,06-04-2020,NaN,Chile,No Informado,NaN,NaN,NaN,No Informado,NaN,NaN,Recuperado,NaN,NaN
5571,5572,06-04-2020,NaN,Chile,No Informado,NaN,NaN,NaN,No Informado,NaN,NaN,Recuperado,NaN,NaN

In [23]:
aux = pd.read_csv("GrupoControl/covid19_chile.csv")
del aux["Unnamed: 14"]
del aux["Unnamed: 15"]
del aux["Unnamed: 16"]
aux.to_csv("GrupoControl/covid19_chile.csv", index=False)

In [24]:
aux

,ID,Fecha,Region_Numero,País,Region,Sexo,Edad,Centro_de_Salud,Comuna,lat,lon,Tipo_de_caso,lat_comuna,lon_comuna
0,1,23-03-2020,1.0,Chile,Tarapacá,Masculino,47.0,NaN,Iquique,NaN,NaN,Confirmado,NaN,NaN
1,2,23-03-2020,1.0,Chile,Tarapacá,Masculino,31.0,NaN,Iquique,NaN,NaN,Confirmado,NaN,NaN