In [27]:
import pandas as pd

data_paises = pd.read_csv("../InformacionGeneral/Internacional/Detalle_paises.csv")
del data_paises["WORLD_SN"]
del data_paises["ECDC_SN"]
del data_paises["OURWOR_SN"]
del data_paises["JHONH_SN"]
del data_paises["Early_SN"]

data_woldmeter = pd.read_csv("../worldometers.info/worldometers.csv")
columna_woldmeter = data_woldmeter.columns[1:]

for i in columna_woldmeter:
    data_woldmeter[i+"Worldmeter"] = data_woldmeter[i]
    del data_woldmeter[i]
    
merged_left = pd.merge(left=data_paises, right=data_woldmeter, how='left', left_on='WORLDM_Country,Other', right_on='Country,Other')




merged_left

,ID,Nombre Español,Nombre Ingles,"WORLDM_Country,Other",ECDC_countriesAndTerritories,OURWORLD_Entity,JHONH_Country/Region,Early_COUNTRY,Tipo,Nombre común,...,NewCasesWorldmeter,TotalDeathsWorldmeter,NewDeathsWorldmeter,TotalRecoveredWorldmeter,ActiveCasesWorldmeter,"Serious,CriticalWorldmeter",Tot Cases/1M popWorldmeter,Deaths/1M popWorldmeter,Reported1st caseWorldmeter,Primer casoWorldmeter
0,1,Afganistán,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Estado Soberanos,Afganistán,...,NaN,6.0,NaN,10.0,257.0,NaN,7.0,0.20,Feb 23,23-02-2020
1,2,Albania,Albania,Albania,Albania,Albania,Albania,Albania,Estado Soberanos,Albania,...,NaN,16.0,NaN,76.0,185.0,7.0,96.0,6.00,Mar 07,07-03-2020
2,3,Alemania,Germany,Germany,Ghana,Germany,Germany,Germany,Estado Soberanos,Alemania,...,NaN,1107.0,NaN,22440.0,61247.0,3936.0,1012.0,13.00,Jan 26,26-01-2020
3,4,Andorra,Andorra,Andorra,Andorra,Andorra,Andorra,Andorra,Estado Soberanos,Andorra,...,NaN,15.0,NaN,10.0,403.0,12.0,5539.0,194.00,Mar 01,01-03-2020
4,5,Angola,Angola,Angola,Angola,Angola,Angola,Angola,Estado Soberanos,Angola,...,NaN,2.0,NaN,1.0,5.0,NaN,0.2,0.06,Mar 19,19-03-2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,231,Jersey,Jersey,Jersey,Jersey,Jersey,Jersey,Jersey,Territorio asociado a estados soberanos,Jersey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231,232,Islas Malvinas,Falkland Islands,Falkland Islands,Falkland_Islands_(Malvinas),Falkland Islands,Falkland Islands,Falkland Islands,Territorio asociado a estados soberanos,Islas Malvinas,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
232,233,Crucero Diamond Princess,Diamond Princess,Diamond Princess,Diamond Princess,Diamond Princess,Diamond Princess,Diamond Princess,Otros,Crucero Diamond Princess,...,NaN,11.0,NaN,619.0,82.0,10.0,NaN,NaN,Feb 04,04-02-2020
233,234,Crucero MS Zaandam,MS Zaandam,MS Zaandam,Myanmar,MS Zaandam,MS Zaandam,MS Zaandam,Otros,Crucero MS Zaandam,...,NaN,2.0,NaN,NaN,7.0,NaN,NaN,NaN,Mar 26,26-03-2020
234,235,Casos en un transporte internacional Japón,Cases on an international conveyance Japan,Cases on an international conveyance Japan,Cases_on_an_international_conveyance_Japan,Cases on an international conveyance Japan,Cases on an international conveyance Japan,Cases on an international conveyance Japan,Otros,Casos en un transporte internacional Japón,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
data_europa = pd.read_csv("../ecdc.europa/ecdc_europa.csv")
data_europa

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
0,31/03/2020,31,3,2020,27,0,Afghanistan,AF,AFG,37172386.0
1,30/03/2020,30,3,2020,8,1,Afghanistan,AF,AFG,37172386.0
2,29/03/2020,29,3,2020,15,1,Afghanistan,AF,AFG,37172386.0
3,28/03/2020,28,3,2020,16,1,Afghanistan,AF,AFG,37172386.0
4,27/03/2020,27,3,2020,0,0,Afghanistan,AF,AFG,37172386.0
...,...,...,...,...,...,...,...,...,...,...
7899,25/03/2020,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0
7900,24/03/2020,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14439018.0
7901,23/03/2020,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0
7902,22/03/2020,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0
7903,21/03/2020,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0