In [18]:
import pandas as pd
import requests
import git

#//*[@id="main_table_countries_today"]

url  = 'https://www.worldometers.info/coronavirus/'
response = requests.get(url)
#print(response.content)
data = pd.read_html(response.content)
data[0].to_csv("worldometers.csv", index=False)
data[1].to_csv("worldometersAYER.csv", index=False)

repoLocal = git.Repo('C:/Users/limc_/Documents/GitHub/Datos' )
print(repoLocal.git.status())
#repoLocal.git.add(".")
repoLocal.git.add(".")
try:
    repoLocal.git.commit(m='Update automatico via python')
except:
    pass

origin = repoLocal.remote(name='origin')
origin.push()

On branch master
Your branch is up to date with 'origin/master'.

Untracked files:
  (use "git add <file>..." to include in what will be committed)

	worldometers.info/worldometers.csv
	worldometers.info/worldometersAYER.csv

nothing added to commit but untracked files present (use "git add" to track)

              Country,Other  TotalCases  ... Deaths/1M pop  Reported1st case
198  British Virgin Islands           2  ...           NaN            Mar 24
199        Papua New Guinea           1  ...           NaN            Mar 19
200  St. Vincent Grenadines           1  ...           NaN            Mar 10
201             Timor-Leste           1  ...           NaN            Mar 20
202                  Total:      784738  ...           4.8               NaN

[5 rows x 11 columns]

IndexError: list index out of range